<% content_for :head do %>
  <%= javascript_include_tag 'search' %>
<% end %>

<p style="color: green"><%= notice %></p>

<%= form_tag articles_path, method: :get, remote: true do %>
  <%= text_field_tag :term, params[:term], placeholder: "Search articles", id: "search_term" %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<div id="articles">
  <% if @articles.any? %>
    <%= render @articles %>
  <% else %>
    <span>No articles found</span>
  <% end %>
</div>
