<p style="color: green"><%= notice %></p>

<%= form_tag articles_path, method: :get, remote: true do %>
  <%= text_field_tag :term, params[:term], placeholder: "Search articles", id: "search_term" %>
  <%= submit_tag "Search", name: nil %>
  <%= link_to "New article", new_article_path, class: "safe" %>
<% end %>

<div id="articles">
  <% if @articles.any? %>
    <%= render @articles %>
  <% else %>
    <span>No articles found</span>
  <% end %>
</div>
