<p style="color: green"><%= notice %></p>

<%= form_tag articles_path, method: :get, remote: true do %>
  <%= text_field_tag :term, params[:term], placeholder: "Search articles", id: "search_term" %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
