<!DOCTYPE html>
<html>
  <head>
    <title>SearchEngine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= stylesheet_link_tag 'search' %>

    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= javascript_include_tag 'search' %>
  </head>

  <body>
    <h1>SearchEngine</h1>
    <% if user_signed_in? %>
      <header>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "danger" %>
        <%= button_to "Analytics", '/analytics', method: :get, class: "safe"  %>
        <%= link_to "New article", new_article_path, class: "safe" %>
      </header>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
