<!DOCTYPE html>
<html>
  <head>
    <title>SearchEngine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= stylesheet_link_tag 'search' %>

    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= javascript_include_tag 'search' %>
  </head>

  <body>
    <h1>SearchEngine</h1>
    <header>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "danger" %>
      <%= button_to "Analytics", '/analytics', method: :get, class: "safe"  %>
    </header>

    <%
=begin%>
 <div id='notifications'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div> 
<%
=end%>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
